.PizzaList {
    // display: flex;
    // flex-wrap: wrap;
    // gap: 30px 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 1em;
    grid-gap: 20px 30px;

    @media (max-width: 1600px) {
        grid-template-columns: auto auto auto auto;
    }

    @media only screen and (max-width: 600px) {
        & {
            display: block;
        }
    }
}