.GoogleMapInput {
    border: 2px solid $color3;
    padding: 2em 10px;
    cursor: pointer;

    .GoogleMapInput__PickButton {
        margin: auto;
        width: 160px;
    }

    .GoogleMapInput__Error {
        color: $danger;
        font-weight: bold;
        text-align: center;
    }
}

.PickableMap {
    border-radius: 10px;
}

.PickButton {
    padding: 16px 0;
}