.Button {
    width: 100%;
    background-color: $color4;
    color: $color1;
    font-weight: bolder;
    border-color: transparent;
    border-radius: 20px;
    font-size: 18px;
    padding: 6px 10px;
    outline: none;
    cursor: pointer;


    &.IconedButton {
        display: flex;
    }

    .Button__Icon {
        width: 20px;
        height: 20px;
        margin: 0 5px;

        svg {
            fill: $color1;
        }
    }

    &.Secondary {
        background-color: $color1;
        color: $color4;
    }

    &.Hollow {
        border: 2px solid $color4;
        border-radius: 10px;
        padding: 8px 2em;
        font-size: 16px;
        background-color: transparent;
        color: $color4;

        &:hover {
            transition: background-color 200ms, color 200ms;
            background-color: $color4;
            color: $color1;
        }
    }

    &.Flat {
        text-transform: uppercase;
        background-color: transparent;
        color: $color3;
    }

    &.Rectangle {
        border-radius: 0;
    }

    &.Small {
        font-size: 14px;
        font-weight: 400;
        padding: 6px 1em;
    }

    &.Disable {
        filter: grayscale(1) invert(1);
        cursor: not-allowed;
        font-weight: normal;
    }
}